img {
  width: 320px;
  height: 213px;
  object-fit: contain;
}
.country {
  border: 1px solid green;
  border-radius: 20px;
  padding: 20px;
}

.visited {
  background-color: bisque;
  color: black;
}
